*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    background-color: #191825;
    display: grid;
    place-items: center;


}
h1{
    font-size: 18rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: -1px 2px 3px rgba(236, 247, 76, 0.5);
    position: relative;
    
   
}
h1::before{
    content: "nimesh...";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    color: #e9b824;
    overflow: hidden;
    animation: move 1s linear infinite alternate;
    border-right: 2px solid #e9b824;
}
@keyframes move{
    from{
        width: 0%;
       
    }
    to{
        width: 100%;
    
    }
}